<div class="row margin-small">	 
	<div class="col-md-4 col-md-push-4">
		<div class="page-header c-align">
			<h1>All Groups</h1>
		</div>
	</div>
</div>


<div class="row margin-small">	 
	<div class="col-md-4 col-md-push-4 c-align">
		<%= link_to 'Add a New Group', new_group_url %>
	</div>
</div>





<% @groups.each do |group| %>


    <tr>
      <td><%= group.name %></td>
      <td><%= link_to 'Show', group_url(group) %></td>
      <td><%= link_to 'Edit', edit_group_url(group) %></td>
      <td><%= link_to 'Destroy', group_url(group), method: 'delete', data: { confirm: "Do you really want to delete this group?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

