<h1>Activity #<%= @activity.id %></h1>

<dl>
  <dt>User</dt>
  <dd><%= @activity.user_id %></dd>

  <dt>Date</dt>
  <dd><%= @activity.date %></dd>

  <dt>Steps</dt>
  <dd><%= @activity.steps %></dd>

  <dt>Miles</dt>
  <dd><%= @activity.miles %></dd>

  <dt>Calories</dt>
  <dd><%= @activity.calories %></dd>

</dl>
